@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Inter:wght@200&display=swap");
* {
  background-color: #333;
  color: white;
}

main {
  padding: 8%;
}

header {
  background-color: #333;
  font-family: "Cormorant";
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .my-name {
  float: left;
}
header nav .my-name a {
  display: block;
  color: white;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 2.5rem;
}
header nav .my-name a .beige {
  color: #D9BEA5;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
header nav ul .nav-tag {
  float: right;
  text-align: center;
}
header nav ul .nav-tag a {
  display: block;
  color: white;
  padding: 1rem 1rem;
  text-decoration: none;
  text-align: center;
  font-family: "inter";
  font-size: 1rem;
}

.introduction-section {
  margin-top: 3rem;
}
.introduction-section .title-container .title {
  font-size: 5rem;
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
}
.introduction-section .description-container {
  width: 55%;
}
.introduction-section .description-container .description {
  font-family: "inter";
}

.portfolio-section {
  margin-top: 4.5rem;
}
.portfolio-section .portfolio-title {
  font-size: 2.75rem;
  font-family: "Cormorant";
  font-weight: 400;
  display: inline;
  margin-right: 1rem;
}
.portfolio-section .arrow-image {
  max-width: 1.5rem;
  max-height: 1.5rem;
}
@media (min-width: 800px) {
  .portfolio-section .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #333;
    gap: 2rem;
    margin-top: 3rem;
  }
  .portfolio-section .grid-container .flex-items {
    display: flex;
    flex-direction: column;
  }
  .portfolio-section .grid-container .flex-items .project-info-container .project-name {
    font-size: 2rem;
    font-family: "Cormorant";
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .portfolio-section .grid-container .flex-items .project-info-container .tags-section {
    margin-top: 1rem;
  }
  .portfolio-section .grid-container .flex-items .project-info-container .tags-section .tag {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #3C3636;
    font-family: "inter";
  }
  .portfolio-section .grid-container .flex-items .grid-item {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 4rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
@media (max-width: 799px) {
  .portfolio-section .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #333;
    gap: 2rem;
  }
  .portfolio-section .grid-container .flex-items {
    display: flex;
    flex-direction: column;
  }
  .portfolio-section .grid-container .flex-items .project-info-container .project-name {
    font-size: 2rem;
    font-family: "Cormorant";
    font-weight: 400;
  }
  .portfolio-section .grid-container .flex-items .project-info-container .tags-section {
    margin-top: 1rem;
  }
  .portfolio-section .grid-container .flex-items .project-info-container .tags-section .tag {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #3C3636;
    font-family: "inter";
  }
  .portfolio-section .grid-container .flex-items .grid-item {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 4rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .portfolio-section .grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #333;
    gap: 2rem;
  }
  .portfolio-section .grid-container .flex-items {
    display: flex;
    flex-direction: column;
  }
  .portfolio-section .grid-container .flex-items .project-info-container .project-name {
    font-size: 2rem;
    font-family: "Cormorant";
    font-weight: 400;
  }
  .portfolio-section .grid-container .flex-items .project-info-container .tags-section {
    margin-top: 1rem;
  }
  .portfolio-section .grid-container .flex-items .project-info-container .tags-section .tag {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #3C3636;
    font-family: "inter";
  }
  .portfolio-section .grid-container .flex-items .grid-item {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 4rem;
    font-size: 1.5rem;
    text-align: center;
  }
}

.about-section {
  margin: 5%;
  margin-top: 8rem;
}
@media only screen and (min-width: 850px) {
  .about-section .about-container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }
  .about-section .about-container .about {
    font-family: "inter";
  }
  .about-section .about-container .about-title {
    font-size: 2.5rem;
    font-family: "Cormorant";
    font-weight: 400;
  }
  .about-section .about-container .image {
    max-height: 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 850px) {
  .about-section .about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
  .about-section .about-container .about {
    font-family: "inter";
  }
  .about-section .about-container .about-title {
    font-size: 2.5rem;
    font-family: "Cormorant";
    font-weight: 400;
    margin-bottom: 0rem;
    margin-bottom: 0rem;
  }
  .about-section .about-container .image {
    max-height: 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 850px) {
  .skills-section {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 4.5rem;
  }
  .skills-section .experience-container {
    flex: 50%;
  }
  .skills-section .experience-container .experience-title {
    font-size: 2rem;
    font-family: "Cormorant";
    font-weight: 400;
    margin-bottom: 0rem;
  }
  .skills-section .interests-container {
    flex: 50%;
  }
  .skills-section .interests-container .interest-title {
    font-size: 2rem;
    font-family: "Cormorant";
    font-weight: 400;
    margin-bottom: 0rem;
  }
}
.last-section {
  margin-top: 20%;
  text-align: center;
}
.last-section .get-in-touch {
  font-size: 5.5rem;
  font-family: "Cormorant";
  font-weight: 400;
}
.last-section .contact-button {
  color: white;
  border: solid 1px white;
  background-color: #333;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "inter";
  font-size: 1rem;
}

footer {
  background: #3B3636;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer figure {
  border-radius: 50%;
  background-color: #453F3F;
  padding: 0.8rem;
}
footer figure .linkedin {
  max-width: 1.2rem;
  max-height: 1.2rem;
  background-color: #453F3F;
}
footer figure .github {
  max-width: 1.2rem;
  max-height: 1.2rem;
  background-color: #453F3F;
}
footer figure .cv {
  max-width: 1.2rem;
  max-height: 1.2rem;
  background-color: #453F3F;
}/*# sourceMappingURL=style.css.map */