@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Inter:wght@200&display=swap");
.portfolio-section {
  margin-top: 4.5rem;
}
.portfolio-section .portfolio-section__portfolio-title {
  font-size: 2.75rem;
  font-family: "Cormorant";
  font-weight: 400;
  display: inline;
  margin-right: 1rem;
}
.portfolio-section .portfolio-section__arrow-image {
  max-width: 1.5rem;
  max-height: 1.5rem;
}
@media (min-width: 800px) {
  .portfolio-section .portfolio-section__grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #333;
    gap: 2rem;
    margin-top: 3rem;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items {
    display: flex;
    flex-direction: column;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__project-info-container .project-info-container__project-name {
    font-size: 2rem;
    font-family: "Cormorant";
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__project-info-container .project-info-container__project-name .icons {
    float: right;
    margin-right: 1rem;
    font-size: 1.5rem;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__project-info-container .project-info-container__tags-section {
    margin-top: 1rem;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__project-info-container .project-info-container__tags-section .tags-section__tag {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #3C3636;
    font-family: "inter";
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__grid-item {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 4rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
@media (max-width: 1100px) {
  .portfolio-section .portfolio-section__grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #333;
    gap: 2rem;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items {
    display: flex;
    flex-direction: column;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__project-info-container .project-info-container__project-name {
    font-size: 2rem;
    font-family: "Cormorant";
    font-weight: 400;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__project-info-container .project-info-container__project-name .icons {
    float: right;
    margin-right: 1.5rem;
    font-size: 1.5rem;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__project-info-container .project-info-container__tags-section {
    margin-top: 1rem;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__project-info-container .project-info-container__tags-section .tags-section__tag {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #3C3636;
    font-family: "inter";
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__grid-item {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 4rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .portfolio-section .portfolio-section__grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #333;
    gap: 2rem;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items {
    display: flex;
    flex-direction: column;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__project-info-container .project-info-container__project-name {
    font-size: 2rem;
    font-family: "Cormorant";
    font-weight: 400;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__project-info-container .project-info-container__project-name .icons {
    float: right;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__project-info-container .project-info-container__tags-section {
    margin-top: 1rem;
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__project-info-container .project-info-container__tags-section .tags-section__tag {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #3C3636;
    font-family: "inter";
  }
  .portfolio-section .portfolio-section__grid-container .grid-container__flex-items .flex-items__grid-item {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 4rem;
    font-size: 1.5rem;
    text-align: center;
  }
}

header {
  background-color: #333;
  font-family: "Cormorant";
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 800px) {
  header nav .nav-items__nav-tag {
    display: none;
  }
  header nav .nav-item__nav-image {
    height: 3px;
    width: 3rem;
  }
}
@media (min-width: 800px) {
  header nav .nav-item__nav-image {
    display: none;
  }
}
header nav .my-name {
  float: left;
}
header nav .my-name a {
  display: block;
  color: white;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 2.5rem;
}
header nav .my-name a .my-name__beige {
  color: #D9BEA5;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
header nav ul .nav-items__nav-tag {
  float: right;
  text-align: center;
}
header nav ul .nav-items__nav-tag a {
  display: block;
  color: white;
  padding: 1rem 1rem;
  text-decoration: none;
  text-align: center;
  font-family: "inter";
  font-size: 1rem;
}

.introduction-section {
  margin-top: 3rem;
}
.introduction-section .introduction-section__title-container .introduction-section__title {
  font-size: 5rem;
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 800px) {
  .introduction-section .description-container {
    width: 100%;
  }
  .introduction-section .description-container .description {
    font-family: "inter";
  }
}
@media (min-width: 800px) {
  .introduction-section .description-container {
    width: 55%;
  }
  .introduction-section .description-container .description {
    font-family: "inter";
  }
}

.about-section {
  margin: 5%;
  margin-top: 8rem;
}
@media only screen and (min-width: 850px) {
  .about-section .about-section__about-container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }
  .about-section .about-section__about-container .about-container__text-section .text-section__about-title {
    font-size: 2.5rem;
    font-family: "Cormorant";
    font-weight: 400;
  }
  .about-section .about-section__about-container .about-container__text-section .text-section__about {
    font-family: "inter";
  }
  .about-section .about-section__about-container .about-container__image {
    max-height: 30%;
    max-width: 30%;
  }
}
@media only screen and (max-width: 850px) {
  .about-section .about-section__about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
  .about-section .about-section__about-container .about-container__text-section .text-section__about-title {
    font-size: 2.5rem;
    font-family: "Cormorant";
    font-weight: 400;
    margin-bottom: 0rem;
    margin-bottom: 0rem;
  }
  .about-section .about-section__about-container .about-container__text-section .text-section__about {
    font-family: "inter";
  }
  .about-section .about-section__about-container .about-container__image {
    max-height: 60%;
    max-width: 60%;
  }
}

.skills-section {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 4.5rem;
  margin: 5%;
}
@media (max-width: 900px) {
  .skills-section {
    flex-direction: column;
  }
}
@media (min-width: 900px) {
  .skills-section {
    flex-direction: row;
  }
}
.skills-section .skills-section__experience-container {
  flex: 50%;
}
.skills-section .skills-section__experience-container .experience-container__experience-title {
  font-size: 2rem;
  font-family: "Cormorant";
  font-weight: 400;
}
.skills-section .skills-section__experience-container .experience-container__dash {
  margin-bottom: 3.5rem;
}
.skills-section .skills-section__experience-container .experience-container__accordion-container {
  border: none;
  font-size: 1rem;
}
.skills-section .skills-section__experience-container .experience-container__accordion-container .accordion-container__job .job__title-container .title-container__job-title {
  font-family: "inter";
}
.skills-section .skills-section__experience-container .experience-container__accordion-container .accordion-container__job .job__text {
  font-family: "inter";
  margin-left: 2rem;
}
.skills-section .skills-section__experience-container .experience-container__accordion-container .accordion-container__separator {
  background-color: white;
}

.last-section {
  margin-top: 20%;
  text-align: center;
}
.last-section .last-section__get-in-touch {
  font-size: 5.5rem;
  font-family: "Cormorant";
  font-weight: 400;
}
.last-section .get-in-touch__contact-button {
  color: white;
  border: solid 1px white;
  background-color: #333;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "inter";
  font-size: 1rem;
}

footer {
  background: #3B3636;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  gap: 0.8rem;
}
footer figure {
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: #453F3F;
  margin: 0;
  align-items: center;
  justify-content: center;
}
footer figure .linkedin {
  max-width: 1.2rem;
  max-height: 1.2rem;
  background-color: #453F3F;
}
footer figure .github {
  max-width: 1.2rem;
  max-height: 1.2rem;
  background-color: #453F3F;
}
footer figure .cv {
  max-width: 1.4rem;
  max-height: 1.4rem;
  background-color: #453F3F;
}

* {
  background-color: #333;
  color: white;
}

main {
  padding: 8%;
}/*# sourceMappingURL=style.css.map */