@use "scss-components/_variables" as *;
@use "scss-components/grid";
@use "scss-components/_navbar";
@use "scss-components/_introduction";
@use "scss-components/_about";
@use "scss-components/_skills";
@use "scss-components/contact";
@use "scss-components/_footer";


*{
    background-color: #333;
    color: $text;
}  

main{
    $backgroud: #333;
    padding: 8%;

}


