@use "variables" as *;

.last-section{

    margin-top: 20%;
    text-align:center;

    .get-in-touch{

        font-size: 5.5rem;
        font-family:$primaryFont;
            font-weight:400;

    }


      

        .contact-button{

            color:white;
            border: solid 1px $text;
            background-color: #333;
            padding-right: 3.5rem;
            padding-left: 3.5rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-family: $secondaryFont;
            font-size: 1rem;




        }
    


}
