@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Inter:wght@200&display=swap");
footer {
  background: #3B3636;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer figure {
  border-radius: 50%;
  background-color: #453F3F;
  padding: 0.8rem;
}
footer figure .linkedin {
  max-width: 1.2rem;
  max-height: 1.2rem;
  background-color: #453F3F;
}
footer figure .github {
  max-width: 1.2rem;
  max-height: 1.2rem;
  background-color: #453F3F;
}
footer figure .cv {
  max-width: 1.2rem;
  max-height: 1.2rem;
  background-color: #453F3F;
}