@use "variables" as *;

.portfolio-section{

    margin-top: 4.5rem;

    .portfolio-section__portfolio-title{
        font-size: 2.75rem;
        font-family:$primaryFont;
        font-weight:400;
        display: inline;
        margin-right: 1rem;
        
        
    }

    .portfolio-section__arrow-image{
        max-width: 1.5rem;
        max-height: 1.5rem;
    }

    @media (min-width: 800px) {

    .portfolio-section__grid-container{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        background-color: #333;
        gap:2rem;
        margin-top: 3rem;

        .portfolio-section__flex-items{

            display:flex;
            flex-direction:column;


            .portfolio-section__project-info-container{
          
 

                .portfolio-section__project-name{

                    font-size: 2rem;
                    font-family:$primaryFont;
                    font-weight:400;

                    margin-top:1rem;
                    margin-bottom:0rem;

                    .portfolio-section__icon{
                      
                         float: right;
                         margin-right: 1rem;
                         font-size:1.5rem;
                         background-color:#3C3636;
                         padding:0.5rem;
                         border-radius: 50%;;
                         
                    }
                   

                }

                .portfolio-section__tags-section{

                    margin-top:1rem;

                    .portfolio-section__tag{
                      
                        padding-left: 1rem;
                        padding-right:1rem;
                        background-color: #3C3636;
                        font-family: $secondaryFont;

                    }

                }

            }


        .portfolio-section__grid-item{
          
            background-color: white;
            border: 1px solid black;
            padding:3rem;
            font-size:1.5rem;
            text-align:center;

            

            .portfolio-image{



            }
            
            
        }
    }
    }
    }

    @media (max-width: 1100px) {

        .portfolio-section__grid-container{
            display:grid;
            grid-template-columns:auto auto ;
            background-color: #333;
            gap:2rem;
    
            .portfolio-section__flex-items{
    
                display:flex;
                flex-direction:column;
    
                .portfolio-section__project-info-container{
     
    
                    .portfolio-section__project-name{
    
                        font-size: 2rem;
                        font-family:$primaryFont;
                        font-weight:400;

                        .portfolio-section__icon{
                      
                            float: right;
                            margin-right: 1.5rem;
                            font-size:1.5rem;
                            
                       }
    
                    }

                    .portfolio-section__tags-section{

                        margin-top:1rem;
    
                        .portfolio-section__tag{
                          
                            padding-left: 1rem;
                            padding-right:1rem;
                            background-color: #3C3636;
                            font-family: $secondaryFont;
    
                        }
    
                    }
                
    
                }
    
    
            .portfolio-section__grid-item{
              
                background-color: white;
                border: 1px solid black;
                padding:3rem;
                font-size:1.5rem;
                text-align:center;

                .portfolio-image{


                }
                
                
            }
        }
        }
        }

    @media (max-width: 800px) {

        .portfolio-section__grid-container{
            display:grid;
            grid-template-columns:auto;
            background-color: #333;
            gap:2rem;
    
            .portfolio-section__flex-items{
    
                display:flex;
                flex-direction:column;
    
                .portfolio-section__project-info-container{

                    
     
    
                    .portfolio-section__project-name{
    
                        font-size: 2rem;
                        font-family:$primaryFont;
                        font-weight:400;

                        .portfolio-section__icon{
                      
                            float: right;
                            margin-right: 1.5rem;
                            margin-top: 0.5rem;
                            font-size:1.5rem;
                            
                       }
                       
    
                    }

                    .portfolio-section__tags-section{

                        margin-top:1rem;
    
                        .portfolio-section__tag{
                          
                            padding-left: 1rem;
                            padding-right:1rem;
                            background-color: #3C3636;
                            font-family:$secondaryFont;
    
                        }
    
                    }
                
    
                }
    
    
            .portfolio-section__grid-item{
              
                background-color: white;
                border: 1px solid black;
                padding:3rem;
                font-size:1.5rem;
                text-align:center;

                .portfolio-image{


                }
                
                
                
            }
        }
        }
      }

    
}