@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Inter:wght@200&display=swap");
.introduction-section {
  margin-top: 3rem;
}
.introduction-section .introduction-section__title-container .introduction-section__title {
  font-size: 5rem;
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 800px) {
  .introduction-section .description-container {
    width: 100%;
  }
  .introduction-section .description-container .description-container__description {
    font-family: "inter";
  }
}
@media (min-width: 800px) {
  .introduction-section .description-container {
    width: 55%;
  }
  .introduction-section .description-container .description {
    font-family: "inter";
  }
}