@use "variables" as *;

.introduction-section{

    margin-top: 3rem;

    .title-container{

        .title{

            font-size:5rem;
            font-family:$primaryFont;
            font-style: normal;
            font-weight:400;

        }
    }

    @media (max-width: 800px) {

    .description-container{

        width:100%;

        .description{

            font-family: $secondaryFont;

        }

        
    }
    }

    @media (min-width: 800px) {

        .description-container{
    
            width:55%;
    
            .description{
    
                font-family: $secondaryFont;
    
            }
    
            
        }
        }

}