@use "variables" as *;


header{
    background-color: #333;
    font-family: $primaryFont;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;

    nav{

        display:flex;
        align-items: center;
        justify-content: space-between;

        .navbar__burger-menu-icon{

          width:3rem;
          height: 5px;
          background-color: #D9BEA5;
        }

        .navbar-collapse{
          justify-content: flex-end;
        }

        .navbar-nav{
          align-items: flex-start;
          margin-left: 1rem;


        }


        @media (max-width: 800px) {

          .navbar__nav-tag{

          display:none;
        }

        .nav-item__nav-image{

          height:3px;
          width:3rem;;
        }
        

      }

   
      @media (min-width: 800px) {

        .nav-item__nav-image{
          display:none;
        }

      }
 



    .navbar__title{

        float: left;
    
        a{
        
        display: block;
        color: white;
        padding: 1rem 1rem;
        text-align: center;
        text-decoration: none;
        font-size:2.5rem;
    
        .navbar__beige{
            color:#D9BEA5;
        }
    
    
        }
      }




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    .navbar__nav-tag {
        float: right;
        text-align: center;
        
      
      
       a {
        display: block;
        color: white;
        padding: 1rem 1rem;
        text-decoration: none;
        text-align: center;
        font-family: $secondaryFont;
        font-size:1rem;
      }
    }
  }
}

}