@use "variables" as *;

    .skills-section{
        margin-top: 5rem;
        display:flex;

    @media (max-width: 900px) {
    flex-direction:column;

    }

    @media (min-width: 900px) {
        flex-direction:row;
    }
    
        justify-content: space-between;
        gap: 4.5rem;;
        margin:5%;
        
        .skills-section__experience-container{
    
            flex: 50%;
            .skills-section__experience-title{
    
                font-size: 2rem;
                font-family:$primaryFont;
                font-weight:400;
    
            }

            .skills-section__dash{
                margin-bottom:3.5rem;
            }

            .skills-section__accordion-container{

                border: none;
                font-size:1rem;


                .skills-section__job{

                    .skills-section__title-container{

                        .skills-section__job-title{
                            font-family: $secondaryFont;
                        }


                    }
                .skills-section__text{

                    font-family: $secondaryFont;
                    margin-left:2rem;

                }}

                .skills-section__separator{

                    background-color: white;
                }
            }}}
    