@use "variables" as *;


        

    .skills-section{
        margin-top: 5rem;
        display:flex;

    @media (max-width: 900px) {
    flex-direction:column;

    }

    @media (min-width: 900px) {
        flex-direction:row;
    }
    

        justify-content: space-between;
        gap: 4.5rem;;
        margin:5%;
        
    

    
        .skills-section__experience-container{
    
            flex: 50%;
            .experience-container__experience-title{
    
                font-size: 2rem;
                font-family:$primaryFont;
                font-weight:400;
    
            }

            .experience-container__dash{
                margin-bottom:3.5rem;
            }

            .experience-container__accordion-container{

                border: none;
                font-size:1rem;


                .accordion-container__job{




                    .job__title-container{

                        .title-container__job-title{
                            font-family: $secondaryFont;
                        }


                    }
                .job__text{

                    font-family: $secondaryFont;
                    margin-left:2rem;

                }

                }


                

                .accordion-container__separator{

                    background-color: white;
                }


                



            }
    
    
    
        }

        }
    